/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #c9edc6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 450px;
    text-align: center;
}
h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background: #5c719c;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #384c81;
}

ul {
    list-style-type:none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li button {
    background: #bd6f6f;
}

li button:hover {
    background: #894249;
}
